@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

/* Force Tailwind v4 to deep-scan every file inside source directory */
@source "../**/*.{js,jsx,ts,tsx}";



.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: #0f172a; 
}